.botones{
    padding-left: 40%;
  }

.botones button{
   
background-color: rgb(172, 172, 177);
border: none;
margin-left: 0px;
    margin-right: 0px;
  }



.botones button:hover{
   
background-color: rgb(0, 102, 235);
color: white;
cursor: pointer;
  }

 nav {
    display: inline-block;
   
 }

 li {
   
    
    display: inline-block;
 }
 ul{
    margin-left: 0px;
    margin-right: 0px;
    display: inline-block;
    
 }
 header{
    padding-left: 22%;
    padding-top: 3%;
 }
 main{
    padding-top: 5%;
    margin: 0px;
 }
 


 header nav a{
   
  
    color: black;
 }
 a{
    text-decoration: none;
 }
 header a{
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
    
    color: #2196F3;
 }

 header a:hover{

    
    color: #000000;
 }


 header ul li a {
    color: black;
    

 } 

 header ul li a:hover{

    color: #2196F3;
    background-color: rgb(213, 213, 216);
 }


 address:hover{
    color: white;
 }

 footer a {
    padding-left: 5%;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
    
    color: #2196F3;
 }

 footer a:hover {

    
    color: #000000;

 }

 footer > address {
    padding-left: 5%;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
    
    color: #2196F3;
 }


 address a:hover{
    color: #000000;

 }

 body{
background-color: #E5E5E5;
font-family: Roboto;
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;
margin: 0px;

 }

 .container h3{
    font-family: Roboto;
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;

 }

 .botones button{
    font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0.03em;
text-align: center;

 }

 .container {
   display: flex;
 

   justify-content: center;

   flex-wrap:wrap;
  
 flex-basis:1200px;  
 
 align-items:baseline;                                   
 }

 .container ul{
   display: flex;
   align-content: center;
 }

 .container footer{
   flex-basis:1200px;  
   background-color: #00000088;
 }
 
 
 .container header{
   display: flex;

 
 }

 header {
   border-bottom: 5px solid #b4b4b4;
}

